.devices {
	margin-top: 20px;
	font-size: 18px;
	color: #333333;
	letter-spacing: 0;
}

.time {
	font-size: 18px;
	color: #333333;
	letter-spacing: 0;
	flex: 1;
}


@media screen and (min-width: 631px) and (max-width: 728px) {
	.devices {
		font-size: 14px;
	}

	.time {
		font-size: 14px;
	}
}

@media screen and (min-width: 729px) and (max-width: 1066px) {
	.devices {
		font-size: 16px;
	}

	.time {
		font-size: 16px;
	}
}


@media screen and (min-width: 481px) and (max-width: 630px)  {
	.devices {
		font-size: 14px;
	}

	.time {
		font-size: 14px;
	}
}


@media screen and (min-width: 320px) and (max-width: 370px)  {
	.devices {
		margin-top: 15px;
		font-size: 12px;
	}

	.time {
		font-size: 12px;
	}
}

@media screen and (min-width: 371px) and (max-width: 480px)  {
	.devices {
		margin-top: 15px;
		font-size: 14px;
	}

	.time {
		font-size: 14px;
	}
}
