.Music {
	margin-top: 23px;
	display: flex;
	flex-direction: row;
}

.SongAndRange-RangeAndTime {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.SongAndRange {
	display: flex;
	flex:1;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 16px;
}

.SongAndRange-NameOfTheSong {
	font-size: 20px;
	color: #000000;
}

.ControlPanel {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.Details {
	font-size: 14px;
	color: #000000;
}

.ControlPanel-KeyNext {
	transform: rotate(180deg);
}

.range {
	padding-right: 20px;
}

.range {
  -webkit-appearance: none; 
  width: 100%; 
  background: transparent;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.range:focus {
  outline: none; 
}

.range::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}


.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 12px;
  border-radius: 4.5px;
  background: #D8D8D8;
  cursor: pointer;
  margin-top: -7px; 
}

.range::-moz-range-thumb {
  height: 20px;
  width: 12px;
  border-radius: 4.5px;
  background: #D8D8D8;
  cursor: pointer;
}

.range::-ms-thumb {
  height: 20px;
  width: 12px;
  border-radius: 4.5px;
  background: #D8D8D8;
  cursor: pointer;
}



.range::-webkit-slider-runnable-track {
  width: 350px;
  height: 5px;
  background-color: #979797;
  cursor: pointer;
  border: 1px solid #979797;
}

.range::-moz-range-track {
  width: 350px;
  height: 5px;
  background-color: #979797;
  cursor: pointer;
  border: 1px solid #979797;
}

.range::-ms-track {
  width: 350px;
  height: 5px;
  background-color: #979797;
  cursor: pointer;
  border: 1px solid #979797;
}

.range::-ms-fill-lower {
  width: 350px;
  height: 5px;
  background-color: #979797;
  cursor: pointer;
  border: 1px solid #979797;
}

.range::-ms-fill-upper {
  width: 350px;
  height: 5px;
  background-color: #979797;
  cursor: pointer;
  border: 1px solid #979797;
}


.range_1 {
  -webkit-appearance: none; 
  width: 267px; 
  background: transparent; 
}

.range_1::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.range_1:focus {
  outline: none; 
}

.range_1::-ms-track {
  width: 267px;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}


.range_1::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 26px;
  background: #605757;
  cursor: pointer;
  margin-top: -6px; 
}

.range_1::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 26px;
  background: #605757;
  cursor: pointer;
}

.range_1::-ms-thumb {
  height: 16px;
  width: 16px;
  border-radius: 26px;
  background: #605757;
  cursor: pointer;
}



.range_1::-webkit-slider-runnable-track {
  width: 267px;
  height: 4px;
  background-color: #d8d8d8;
  cursor: pointer;
  border-radius: 2px;
}

.range_1::-moz-range-track {
  width: 267px;
  height: 4px;
  background-color: #d8d8d8;
  cursor: pointer;
  border-radius: 2px;
}

.range_1::-ms-track {
  width: 267px;
  height: 4px;
  background-color: #d8d8d8;
  cursor: pointer;
  border-radius: 2px;
}

.range_1::-ms-fill-lower {
  width: 267px;
  height: 4px;
  background-color: #d8d8d8;
  cursor: pointer;
  border-radius: 2px;
}

.range_1::-ms-fill-upper {
  width: 267px;
  height: 4px;
  background-color: #d8d8d8;
  cursor: pointer;
  border-radius: 2px;
}






@media screen and (min-width: 320px) and (max-width: 480px)  {
	.SongAndRange {
		margin-left: 12px;
	}

	.SongAndRange-NameOfTheSong {
		font-size: 14px;
	}

	.ControlPanel {
		margin-top: 20px;
	}

	.Details {
		font-size: 12px;
	}

	.ControlPanel-KeyNext {
		width: 40px;
		height: 40px;
		padding-right: 5px;
		padding-left: 20px;
	}

	.ControlPanel-KeyPrev {
		width: 40px;
		height: 40px;
	}

	.range {
		padding-right: 20px;
	}

	.range_1 {
		padding-right: 20px;
	}
}


@media screen and (min-width: 481px) and (max-width: 630px)  {
	.SongAndRange {
		margin-left: 12px;
	}

	.SongAndRange-NameOfTheSong {
		font-size: 14px;
	}

	.ControlPanel {
		margin-top: 20px;
	}

	.Details {
		font-size: 12px;
	}

	.ControlPanel-KeyNext {
		width: 50px;
		height: 50px;
		padding-right: 5px;
		padding-left: 30px;
	}

	.ControlPanel-KeyPrev {
		width: 50px;
		height: 50px;
	}

	.range {
		padding-right: 20px;
	}

	.range_1 {
		padding-right: 20px;
	}

}


@media screen and (min-width: 631px) and (max-width: 728px) {
	.SongAndRange {
		margin-left: 12px;
	}

	.SongAndRange-NameOfTheSong {
		font-size: 12px;
	}

	.ControlPanel {
		margin-top: 20px;
	}

	.Details {
		font-size: 12px;
	}

	.ControlPanel-KeyNext {
		width: 30px;
		height: 30px;
		padding-right: 8px;
		padding-left: 8px;
	}

	.ControlPanel-KeyPrev {
		width: 30px;
		height: 30px;
	}

	.range {
		padding-right: 20px;
	}

	.range_1 {
		padding-right: 20px;
	}

}

@media screen and (min-width: 729px) and (max-width: 1066px) {
	.SongAndRange {
		margin-left: 12px;
	}

	.SongAndRange-NameOfTheSong {
		font-size: 14px;
	}

	.ControlPanel-KeyNext {
		width: 40px;
		height: 40px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.ControlPanel-KeyPrev {
		width: 40px;
		height: 40px;
	}

	.range_1 {
		padding-right: 20px;
	}
}