.Header {
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	align-items: center;
}

.Header-Logo {
	background: url(assets/logo.svg) no-repeat;
	background-size: contain;
	height: 38px;
	width: 113px;
}

.Header-Menu {
	display: none;
}

.HeaderMenu .List {
	list-style: none;
	padding: 0;
	margin: 0;
}

.HeaderMenu .List-Item a {
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	opacity: 0.6;
}

.HeaderMenu .List-Item a.active,
.HeaderMenu .List-Item a:hover {
	opacity: 1;
}

@media screen and (min-width: 729px) {
	.Header {
		padding: 32px 42px;
	}
}

@media screen and (min-width: 1067px) {
	.Header-MenuIcon {
		display: none;
	}

	.HeaderMenu {
		padding-top: 4px;
		margin-left: 21px;
		display: block;
	}
	.HeaderMenu .List-Item {
		display: inline;
		padding-right: 28px;
	}
}

@media screen and (min-width: 371px) and (max-width: 480px) {
	.Header {
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 12px 20px;
		border-bottom: 1px solid #f0f0f0;
	}
	.HeaderMenu {
		display: none;
		width: 100%;
		padding-bottom: 8px;
	}

	.Header-MenuIcon {
		background: url(assets/icon_list_m@1x.svg) no-repeat;
		width: 14px;
		height: 14px;
	}
	.Header-Menu:checked + .HeaderMenu {
		display: block;
	}
	.HeaderMenu .List-Item {
		padding-top: 16px;
	}
}

@media screen and (min-width: 320px) and (max-width: 370px) {
	.Header {
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 12px 20px;
		border-bottom: 1px solid #f0f0f0;
	}
	.HeaderMenu {
		display: none;
		width: 100%;
		padding-bottom: 8px;
	}

	.Header-MenuIcon {
		background: url(assets/icon_list_m@1x.svg) no-repeat;
		width: 14px;
		height: 14px;
	}

	.Header-Menu:checked + .HeaderMenu {
		display: block;
	}

	.HeaderMenu .List-Item {
		padding-top: 16px;
	}
}

@media screen and (min-width: 481px) and (max-width: 630px) {
	.Header {
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 12px 20px;
		border-bottom: 1px solid #f0f0f0;
	}
	.HeaderMenu {
		display: none;
		width: 100%;
		padding-bottom: 8px;
	}

	.Header-MenuIcon {
		background: url(assets/icon_list_m@1x.svg) no-repeat;
		width: 14px;
		height: 14px;
	}
	.Header-Menu:checked + .HeaderMenu {
		display: block;
	}
	.HeaderMenu .List-Item {
		padding-top: 16px;
	}
}

@media screen and (min-width: 729px) and (max-width: 1066px) {
	.HeaderMenu {
		padding-top: 4px;
		margin-left: 21px;
		display: block;
	}
	.HeaderMenu .List-Item {
		display: inline;
		padding-right: 28px;
	}
	.Header .Header-MenuIcon {
		display: none;
	}
}

@media screen and (min-width: 631px) and (max-width: 728px) {
	.Header {
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 12px 20px;
		border-bottom: 1px solid #f0f0f0;
	}
	.HeaderMenu {
		display: none;
		width: 100%;
		padding-bottom: 8px;
	}
	.Header-MenuIcon {
		background: url(assets/icon_list_m@1x.svg) no-repeat;
		width: 16px;
		height: 14px;
	}
	.Header-Menu:checked + .HeaderMenu {
		display: block;
	}
	.HeaderMenu .List-Item {
		padding-top: 16px;
	}
}
