.card_size-l {
    grid-column: span 4;
    grid-row: span 3;
}


.card_top {
	display: flex;
	flex-direction: row;
	align-items: center;
}


.title {
	margin-left: 18px;
	padding: 0;
	padding-right: 10px;
	flex: 1;
	font-weight: bold;
	font-size: 24px;
	color: #333333;
	letter-spacing: 0;
}

.devices_and_time {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 18px;
	color: #333333;
	margin-top: 14px;
	padding: 0;
	letter-spacing: 0;
}

.description_size-l {
	font-size: 24px;
	color: #000000;
	margin-top: 25px;
	letter-spacing: 0;
}

.chart {
	border-radius: 20px;
	margin-top: 31px;
	width: 100%;
	height: auto;
}


@media screen and (min-width: 631px) and (max-width: 728px) {
	.title {
		margin-left: 8px;
		font-size: 16px;
	}

	.devices_and_time {
		font-size: 14px;
		margin-top: 12px;
	}

	.description_size-l {
		font-size: 18px;
		margin-top: 12px;
	}

}

@media screen and (min-width: 729px) and (max-width: 1066px) {
	.title {
		margin-left: 8px;
		font-size: 20px;
	}

	.description_size-l {
		font-size: 20px;
		margin-top: 12px;
	}

}


@media screen and (min-width: 481px) and (max-width: 630px)  {
	.card_size-l {
	    grid-column: span 4;
	    grid-row: span 3;
	}
	.title {
		margin-left: 8px;
		font-size: 16px;
	}

	.devices_and_time {
		font-size: 14px;
		margin-top: 12px;
	}

	.description_size-l {
		font-size: 18px;
		margin-top: 12px;
	}
}


@media screen and (min-width: 320px) and (max-width: 370px)  {
	.card_size-l {
	    grid-column: span 4;
	    grid-row: span 3;
	}
	.title {
		margin-left: 8px;
		font-size: 16px;
	}

	.devices_and_time {
		font-size: 12px;
		margin-top: 12px;
	}

	.description_size-l {
		font-size: 16px;
		margin-top: 12px;
	}
}

@media screen and (min-width: 371px) and (max-width: 480px)  {
	.card_size-l {
	    grid-column: span 4;
	    grid-row: span 3;
	}
	.title {
		margin-left: 8px;
		font-size: 16px;
	}

	.devices_and_time {
		font-size: 14px;
		margin-top: 12px;
	}

	.description_size-l {
		font-size: 16px;
		margin-top: 12px;
	}
}
