.Buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 32px;
}

.Buttons-ButtonYes {
	width: 132px;
	height: 54px;	
	border-radius: 8px;
	font-size: 20px;
	color: #000000;
	text-align: center;
	background-color: #FFD93E;    
}

.Buttons-ButtonNo {
	width: 132px;
	height: 54px;	
	border-radius: 8px;
	font-size: 20px;
	color: #000000;
	text-align: center;
	background-color: #E5E5E5;	
	margin-left: 18px;
}

.Buttons-Choice {
	padding: 0;
	padding-top: 16px;
	padding-bottom: 16px;
}


@media screen and (min-width: 320px) and (max-width: 370px)  {
	.Buttons {
		margin-top: 20px;
	}

	.Buttons-ButtonNo {	
		margin-left: 34px;
	}

}

@media screen and (min-width: 371px) and (max-width: 480px)  {
	.Buttons {
		margin-top: 20px;
	}

	.Buttons-ButtonNo {	
		margin-left: 15px;
	}
}

@media screen and (min-width: 481px) and (max-width: 728px)  {
	.Buttons {
		margin-top: 20px;
	}

	.Buttons-ButtonNo {	
		margin-left: 12px;
	}
}
