.buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 32px;
}

.button {
	width: 132px;
	height: 54px;	
	border-radius: 8px;
	font-size: 20px;
	color: #000000;
	text-align: center;
}

.button-yes {
	background-color: #FFD93E;    
}

.button-no {
	background-color: #E5E5E5;	
	margin-left: 18px;
}

.choice {
	padding: 0;
	padding-top: 16px;
	padding-bottom: 16px;
}



@media screen and (min-width: 631px) and (max-width: 728px) {
	.buttons {
		margin-top: 20px;
	}

	.button {
		width: 124px;
		height: 50px;	
		font-size: 16px;
    }
    
	.button-no {	
		margin-left: 12px;
	}
}


@media screen and (min-width: 481px) and (max-width: 630px)  {
	.buttons {
		margin-top: 20px;
	}

	.button {
		width: 124px;
		height: 50px;	
		font-size: 16px;
	}

	.button-no {	
		margin-left: 12px;
	}
}


@media screen and (min-width: 320px) and (max-width: 370px)  {
	.buttons {
		margin-top: 20px;
	}

	.button {
		width: 124px;
		height: 50px;	
		font-size: 16px;
	}

	.button-no {	
		margin-left: 34px;
	}

}

@media screen and (min-width: 371px) and (max-width: 480px)  {
	.buttons {
		margin-top: 20px;
	}

	.button {
		width: 124px;
		height: 50px;	
		font-size: 16px;
	}

	.button-no {	
		margin-left: 15px;
	}
}
