.card {
	border-radius: 20px;
	background-color: #fafafa;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card:hover {
	border-radius: 20px;
	box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
	background-color: #f3f3f3;
	cursor: pointer;
}

.cross {
	display: none;
	align-self: flex-start;
}

.card:hover .cross {
	display: inline-block;
}

.card_size-s {
	grid-column: span 2;
}

.card_size-m {
	grid-column: span 3;
}

.card_size-l {
	grid-column: span 4;
	grid-row: span 3;
}

.card_top {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.card_bottom {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-top: 22px;
}

.corpus {
	border-radius: 20px;
	background-color: #fafafa;
	padding: 20px;
	margin-top: 20px;
}

.card_type-critical:hover .corpus {
	background-color: #f3f3f3;
	cursor: pointer;
}

.card_type-critical > .devices_and_time * {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 18px;
	color: #333333;
	margin-top: 16px;
	margin-left: 20px;
	margin-right: 20px;
	letter-spacing: 0;
}

.card_type-critical > .corpus > .description {
	font-size: 20px;
	color: #000000;
	letter-spacing: 0;
}

.title {
	margin-left: 18px;
	padding: 0;
	padding-right: 10px;
	flex: 1;
	font-weight: bold;
	font-size: 24px;
	color: #333333;
	letter-spacing: 0;
}

.description_size-m {
	font-size: 20px;
	color: #000000;
	margin-top: 25px;
	letter-spacing: 0;
}

.description_size-l {
	font-size: 24px;
	color: #000000;
	margin-top: 25px;
	letter-spacing: 0;
}

.card_type-critical {
	background-color: #da5443;
	padding: 0;
}

.card_type-critical:hover {
	border-radius: 20px;
	box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
	background-color: #db5341;
	cursor: pointer;
}

.devices_and_time {
	padding: 0;
}

.card_type-critical > .card_top {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.card_type-critical .title {
	font-size: 24px;
	color: #ffffff;
}

@media screen and (min-width: 631px) and (max-width: 728px) {
	.card {
		padding: 15px;
	}

	.title {
		margin-left: 8px;
		font-size: 16px;
	}

	.description_size-m {
		font-size: 16px;
		margin-top: 12px;
	}

	.description_size-l {
		font-size: 18px;
		margin-top: 12px;
	}

	.card_type-critical {
		background-color: #da5443;
		padding: 0;
	}

	.card_type-critical > .card_top {
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.card_type-critical .title {
		font-size: 16px;
    }
    
    .corpus {
	    padding: 15px;
	    margin-top: 15px;
	}
	
	.card_type-critical .devices_and_time *{
		font-size: 14px;
		color: #FFFFFF;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 12px;
		padding: 0;
		letter-spacing: 0;
	}
}

@media screen and (min-width: 729px) and (max-width: 1066px) {
	.title {
		margin-left: 8px;
		font-size: 20px;
	}

	.description_size-m {
		font-size: 18px;
		margin-top: 12px;
	}

	.description_size-l {
		font-size: 20px;
		margin-top: 12px;
	}

	.devices_and_time {
		font-size: 16px;
		margin-top: 12px;
	}
	.card_type-critical .title {
		font-size: 20px;
    }
    
    .card_type-critical .devices_and_time * {
		font-size: 14px;
	}
}

@media screen and (min-width: 481px) and (max-width: 630px) {
	.card_size-s {
		grid-column: span 2;
	}

	.card_size-m {
		grid-column: span 4;
	}

	.card_size-l {
		grid-column: span 4;
		grid-row: span 3;
	}

	.title {
		margin-left: 8px;
		font-size: 16px;
	}

	.description_size-m {
		font-size: 16px;
		margin-top: 12px;
	}

	.description_size-l {
		font-size: 18px;
		margin-top: 12px;
	}

	.devices_and_time {
		font-size: 14px;
		margin-top: 12px;
	}

	.card_type-critical > .card_top {
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.card_type-critical .title {
		font-size: 16px;
    }
    
    .corpus {
	    padding: 15px;
	    margin-top: 15px;
	}

	.card_type-critical > .corpus > .description {
		font-size: 16px;
	}
	
	.card_type-critical .devices_and_time *{
		font-size: 14px;
		color: #FFFFFF;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 12px;
		padding: 0;
		letter-spacing: 0;
	}
}

@media screen and (min-width: 320px) and (max-width: 370px) {
	.card_size-s {
		grid-column: span 4;
	}

	.card_size-m {
		grid-column: span 4;
	}

	.card_size-l {
		grid-column: span 4;
		grid-row: span 3;
	}

	.title {
		margin-left: 8px;
		font-size: 16px;
	}

	.description_size-m {
		font-size: 14px;
		margin-top: 12px;
	}

	.description_size-l {
		font-size: 16px;
		margin-top: 12px;
	}

	.devices_and_time {
		font-size: 12px;
		margin-top: 12px;
	}

	.card_type-critical > .card_top {
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.card_type-critical .title {
		font-size: 16px;
    }
    
    	.corpus {
	    padding: 15px;
	    margin-top: 15px;
	}
	
	.card_type-critical .devices_and_time *{
		font-size: 14px;
		color: #FFFFFF;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 12px;
		padding: 0;
		letter-spacing: 0;
	}

}

@media screen and (min-width: 371px) and (max-width: 480px) {
	.card_size-s {
		grid-column: span 4;
	}

	.card_size-m {
		grid-column: span 4;
	}

	.card_size-l {
		grid-column: span 4;
		grid-row: span 3;
	}

	.title {
		margin-left: 8px;
		font-size: 16px;
	}

	.description_size-m {
		font-size: 14px;
		margin-top: 12px;
	}

	.description_size-l {
		font-size: 16px;
		margin-top: 12px;
	}

	.devices_and_time {
		font-size: 14px;
		margin-top: 12px;
	}

	.card_type-critical > .card_top {
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.card_type-critical .title {
		font-size: 16px;
    }
    
    	.corpus {
	    padding: 15px;
	    margin-top: 15px;
	}

	.card_type-critical > .corpus > .description {
		font-size: 16px;
	}
	
	.card_type-critical .devices_and_time *{
		font-size: 14px;
		color: #FFFFFF;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 12px;
		padding: 0;
		letter-spacing: 0;
	}	

}
