.Card{
	border-radius: 20px;
	background-color: #fafafa;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.Card:hover {
	border-radius: 20px;
	box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
	background-color: #f3f3f3;
	cursor: pointer;
}

.CardTop-Cross {
	display: none;
	align-self: flex-start;
}

.Card:hover .CardTop-Cross {
	display: inline-block;
}

.Card_size_s {
	grid-column: span 2;
}

.Card_size_m {
	grid-column: span 3;
}

.Card_size_l {
	grid-column: span 4;
	grid-row: span 3;
}

.CardTop {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.CardBottom {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-top: 22px;
}

.CardBottom-Corpus {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 20px;
	background-color: #fafafa;
	padding: 20px;
	margin-top: 20px;
} 

.Card_type_critical:hover .CardBottom-Corpus {
	background-color: #f3f3f3;
	cursor: pointer;
}

.Card_type_critical > .Card-Info * {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 18px;
	color: #333333;
	margin-top: 16px;
	margin-left: 20px;
	margin-right: 20px;
	letter-spacing: 0;
}

.Card_type_critical.Card_size_m .CardBottom-Description {
	border-radius: 20px;
	background-color: #fafafa;
	padding: 20px;
	margin-top: 20px;
	font-size: 20px;
	color: #000000;
	letter-spacing: 0;
}

.CardTop-Title {
	margin-left: 18px;
	padding: 0;
	padding-right: 10px;
	flex: 1;
	font-weight: bold;
	font-size: 24px;
	color: #333333;
	letter-spacing: 0;
}

.CardBottom-Description {
	font-size: 20px;
	color: #000000;
	margin-top: 25px;
	letter-spacing: 0;
}

.Card-Description {
	font-size: 20px;
	color: #000000;
	margin-top: 25px;
	letter-spacing: 0;
}

/* .Card_size_s .CardBottom-Description {
	font-size: 20px;
	color: #000000;
	margin-top: 25px;
	letter-spacing: 0;
} */

.Card-size_l .Card-Description {
	font-size: 24px;
}

.Card_type_critical {
	background-color: #da5443;
	padding: 0;
}

.Card_type_critical:hover {
	border-radius: 20px;
	box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
	background-color: #db5341;
	cursor: pointer;
}

.Card-Info {
	padding: 0;
}

.Card_type_critical > .CardTop {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.Card_type_critical .CardTop-Title {
	font-size: 24px;
	color: #ffffff;
}

@media screen and (min-width: 631px) and (max-width: 728px) {
	.Card{
		padding: 15px;
	}

	.CardTop-Title {
		margin-left: 8px;
		font-size: 16px;
	}

	.CardBottom-Description
 	{
		font-size: 16px;
		margin-top: 12px;
	}

	.Card-Description
 	{
		font-size: 16px;
		margin-top: 12px;
	}

	.description_size-l {
		font-size: 18px;
		margin-top: 12px;
	}

	.Card_type_critical {
		background-color: #da5443;
		padding: 0;
	}

	.Card_type_critical > .CardTop {
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.Card_type_critical .CardTop-Title {
		font-size: 16px;
    }
    
    .corpus {
	    padding: 15px;
	    margin-top: 15px;
	}
	
	.Card_type_critical .Card-Info *{
		font-size: 14px;
		color: #FFFFFF;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 12px;
		padding: 0;
		letter-spacing: 0;
	}
}

@media screen and (min-width: 729px) and (max-width: 1066px) {
	.CardTop-Title {
		margin-left: 8px;
		font-size: 20px;
	}

	.CardBottom-Description
 	{
		font-size: 18px;
		margin-top: 12px;
	}

	.Card-Description
 	{
		font-size: 18px;
		margin-top: 12px;
	}

	.description_size-l {
		font-size: 20px;
		margin-top: 12px;
	}

	.Card-Info {
		font-size: 16px;
		margin-top: 12px;
	}
	.Card_type_critical .CardTop-Title {
		font-size: 20px;
    }
    
    .Card_type_critical .Card-Info * {
		font-size: 14px;
	}
}

@media screen and (min-width: 481px) and (max-width: 630px) {
	.Card_size_s {
		grid-column: span 2;
	}

	.Card_size_m {
		grid-column: spanC4;
	}

	_l {
		grid-column: span 4;
		grid-row: span 3;
	}

	.CardTop-Title {
		margin-left: 8px;
		font-size: 16px;
	}

	.CardBottom-Description
 	{
		font-size: 16px;
		margin-top: 12px;
	}

	.Card-Description
 	{
		font-size: 16px;
		margin-top: 12px;
	}

	.description_size-l {
		font-size: 18px;
		margin-top: 12px;
	}

	.Card-Info {
		font-size: 14px;
		margin-top: 12px;
	}

	.Card_type_critical > .CardTop {
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.Card_type_critical .CardTop-Title {
		font-size: 16px;
    }
/*     
    .corpus {
	    padding: 15px;
	    margin-top: 15px;
	} */

	.Card_type_critical.Card_size_m .CardBottom-Description {
		padding: 15px;
	    margin-top: 15px;
		font-size: 16px;
	}
	
	.Card_type_critical .Card-Info *{
		font-size: 14px;
		color: #FFFFFF;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 12px;
		padding: 0;
		letter-spacing: 0;
	}
}

@media screen and (min-width: 320px) and (max-width: 370px) {
	.Card_size_s {
		grid-column: span 4;
	}

	.Card_size_m {
		grid-column: spanC4;
	}

	_l {
		grid-column: span 4;
		grid-row: span 3;
	}

	.CardTop-Title {
		margin-left: 8px;
		font-size: 16px;
	}

	.CardBottom-Description
 	{
		font-size: 14px;
		margin-top: 12px;
	}

	.Card-Description
 	{
		font-size: 14px;
		margin-top: 12px;
	}

	.description_size-l {
		font-size: 16px;
		margin-top: 12px;
	}

	.Card-Info {
		font-size: 12px;
		margin-top: 12px;
	}

	.Card_type_critical > .CardTop {
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.Card_type_critical .CardTop-Title {
		font-size: 16px;
    }
    
    	.corpus {
	    padding: 15px;
	    margin-top: 15px;
	}
	
	.Card_type_critical .Card-Info *{
		font-size: 14px;
		color: #FFFFFF;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 12px;
		padding: 0;
		letter-spacing: 0;
	}

}

@media screen and (min-width: 371px) and (max-width: 480px) {
	.Card_size_s {
		grid-column: span 4;
	}

	.Card_size_m {
		grid-column: spanC4;
	}

	_l {
		grid-column: span 4;
		grid-row: span 3;
	}

	.CardTop-Title {
		margin-left: 8px;
		font-size: 16px;
	}

	.CardBottom-Description
 	{
		font-size: 14px;
		margin-top: 12px;
	}

	.Card-Description
 	{
		font-size: 14px;
		margin-top: 12px;
	}

	.description_size-l {
		font-size: 16px;
		margin-top: 12px;
	}

	.Card-Info {
		font-size: 14px;
		margin-top: 12px;
	}

	.Card_type_critical > .CardTop {
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.Card_type_critical .CardTop-Title {
		font-size: 16px;
    }
    
    	/* .corpus {
	    padding: 15px;
	    margin-top: 15px;
	} */

	.Card_type_critical.Card_size_m .CardBottom-Description {
		font-size: 16px;
		padding: 15px;
	    margin-top: 15px;
	}
	
	.Card_type_critical .Card-Info *{
		font-size: 14px;
		color: #FFFFFF;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 12px;
		padding: 0;
		letter-spacing: 0;
	}	

}
